.Button{
    -fx-text-fill: grey;
    -fx-background-color: linear-gradient(to bottom, rgba(255, 165, 0, 1) 0%, rgba(255, 200, 0, 1) 50%, rgba(255, 255, 0, 1) 100%);
    -fx-border-radius: 10px;
    -fx-background-radius:  10px ;

}

.Button:hover{
    -fx-text-fill: grey;
    -fx-background-color: linear-gradient(to bottom, rgba(255, 165, 0, 1) 0%, rgba(255, 200, 0, 1) 50%, rgba(255, 255, 0, 1) 100%);
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-background-radius:  10px ;

}

.Textfield{
    -fx-background-color: #FFF8DC;
    -fx-background-radius: 25px;
    -fx-border-color: #D3D3D3;
    -fx-border-radius: 25px;

}

.Textfield:hover{
    -fx-background-radius: 25px;
    -fx-border-color: black;
    -fx-border-radius: 25px;
}

.Label{
    -fx-text-fill: red;
    -fx-alignment: center;

}

.close{
    -fx-background-color: transparent;
    -fx-font-size: 16px ;
}

.close:hover{
    -fx-underline: true;
}

.list-view{
    -fx-border-color: #D3D3D3;
}